.containerTopMargin{
    margin-top: 30px;
    border-left: 0.5px solid grey;
    border-right: 0.5px solid grey;
}

button{
    min-width:110px;
    max-width: 110px;
    margin:10px;
    margin-right: 0px;
}