.containerTopMargin{
    margin-top: 30px;
    border-left: 0.5px solid grey;
    border-right: 0.5px solid grey;
}

button{
    min-width:100px;
    max-width: 100px;
    margin:5px;
    margin-right: 5px;
}

#selectMgr{
  padding: 5px;
  padding-bottom: 5px;
}
#selectMgr:hover{
  background-color: lightblue;
  cursor: pointer;
}